@font-face {
  font-family: "Rubik";
  src: local("Rubik"),
    url(./theme/fonts/Rubik/Rubik-VariableFont_wght.ttf) format("opentype");
}

@font-face {
  font-family: "Roboto";
  font-weight: 900;
  src: local("Roboto"),
    url(./theme/fonts/Roboto/Roboto-Black.ttf) format("opentype");
}

@font-face {
  font-family: "Work Sans";
  font-weight: 700;
  src: local("Work Sans "),
    url(./theme/fonts/work-sans/WorkSans-SemiBold.ttf) format("opentype");
}
